.container{
    max-width: 1600px;
    width:100%;
    margin:0 auto;
    @include column;
    background:#F6F6F6;
    align-items: center;
    .wrapper{
        max-width: 1200px;
        width:100%;
    }
}
.background{
    background: url('../images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}