.description{
    background:#F6F6F6;
    @include row;
    padding:100px 0;
    @include mobile {
        @include column;
        align-items: center;
        padding:0;
    }
    .description_image,
    .description_column{
        .description_column_text{
            @include mobile {
            margin:5px 0;
            }
        }
        @include column;
        justify-content: space-around;
        width:calc(50% - 80px);
        margin: 0 40px;
        @include mobile {
            width: 90%;
            padding:100px 0;
        }
        img{
            width:100%;
        }
        .description_column_text{
            .description_column_text_title,
            .description_column_text_paragraph{
                text-align:left;
                padding:10px 0;
                @include mobile {
                    text-align: center;
                }
            }
            .description_column_text_title{
                h2{
                    text-transform: capitalize;
                    font-family: $font_one;
                    font-size:1.4rem;
                }
            }
            .description_column_text_paragraph{
                p{
                    font-family:$font_two;
                    font-size: 1rem;
                    color:grey;
                }
            }
        }
    }
}