.footer {
    background: $color_primary;
    padding-bottom: 150px;
}
footer {
    background: $color_primary;
    color: white;
    @include column;
    .logo {
        padding: 30px 20px;
    }
    .grid_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "section_social section_about section_subscribe""section_social section_about section_subscribe""section_social section_about section_subscribe""section_social section_about section_subscribe";
        .section_social {
            grid-area: section_social;
            .section_social_icons {
                @include row;
                justify-content: flex-start;
                .section_social_icon {
                    margin: 10px 20px;
                    i {
                        font-size: 1.5rem;
                    }
                }
            }
            .section_social_copyright {
                font-size: 0.8rem;
                padding: 10px 20px;
                font-family: $font_two;
            }
        }
        .section_about {
            grid-area: section_about;
                @include row;
                justify-content: space-evenly;
                font-family: $font_two;
                text-transform: capitalize;
                font-size: 1rem;
                h4 {
                    padding-top: 15px;
                    padding-bottom: 20px;
                }
            }
        }
        .section_subscribe {
            grid-area: section_subscribe;
            .section_subscribe_title {
                text-transform: uppercase;
                font-family: $font_one;
                padding: 10px 20px;
            }
            .section_subscribe_paragraph {
                padding: 10px 20px;
                font-family: $font_two;
                font-size: 0.9rem;
                line-height: 30px;
                margin:5px;
            }
            form {
                @include column;
                align-items: center;

                input[type=text] {
                    height: 40px;
                    width: 90%;
                    border-radius: 5px;
                    border: none;
                } &:focus,
                &::moz-focus-innner {
                    outline:3px solid black;
                    border-color: transparent;
                }
                .form_submit {
                    @include row;
                    justify-content: flex-end;
                    width: 100%;

                    input[type=submit] {
                        @include pink_button;
                    }
                }
            }
        }
    }

    @include mobile{
        .footer{
            padding-bottom: 0;
        }
        footer{
            .logo {
            text-align: center;
            margin-top:40px;
            }

            .grid_container {
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                grid-template-areas: "section_about section_about""section_subscribe section_subscribe""section_social section_social";
                .section_about {
                    grid-area: section_about;
                    @include column;
                    margin-left:40px;
                }
                .section_subscribe {
                    grid-area: section_subscribe;
                    text-align: center;
                    form{
                        justify-content: center;
                        .form_submit{
                            justify-content: center;
                        }
                        input[type=submit]{
                            width: 90%;
                        }
                    }
                    
                }
    
                .section_social {
                    grid-area: section_social;
                    margin:40px 0;
                    .section_social_icons{
                        justify-content: center;
                    }
                    .section_social_copyright{
                        text-align: center;
                    }
                }
            }
        }
    }









