$font_one:'Open Sans', 'sans-serif';
$font_two:'Roboto', 'sans-serif';
$color_accent: #FF53C1;
$color_primary:#082932;
$color_background: #f2f5f9;

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin column{
    display:flex;
    flex-direction: column;
}
@mixin pink_button{
    background:$color_accent;
    font-family:$font_two;
    text-transform: capitalize;
    border:none;
    padding:10px 40px;
    color:white;
    margin:10px 20px;
    border-radius: 5px;
}

$mobile: 700px;

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}


